<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Versionable Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <file>src/ApiDocGeneratorServiceProvider.php</file>
            <file>resources/views/documentarian.blade.php</file>
        </exclude>
    </coverage>
</phpunit>
